:root {
	--dark-color: rgb(4, 0, 43);
	--lighter-color: rgb(4, 0, 43, 0.5);
	--regular-size: 1.5rem;
	--large-size: 2.5rem;
	--huge-size: 5rem;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

/* *** */
/* <Header> */
/* *** */
.header-section {
	color: white;
	background-color: var(--dark-color);
}
.header-section h1,
h3 {
	padding: 0.25em;
}

.header-section h1 {
	color: var(--dark-color);
	font-size: var(--large-size);
	background-color: white;
}
.header-section h3 {
	font-size: var(--regular-size);
}
/* *** */
/* END OF <Header> */
/* *** */

/* *** */
/* <Counter> */
/* *** */
.counter-section {
	width: 100%;
}

.time-values-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.time-value {
	text-transform: uppercase;
	/* background-color: aqua; */
	flex-basis: 150px;
	margin: 0px 20px 0px 20px;
	color: var(--dark-color);
	font-weight: 700;
	display: flex;
	flex-direction: column;
}

.time-value p {
	color: white;
	background-color: var(--dark-color);
}

.big-number {
	text-align: left;
	font-size: var(--huge-size);
}

.time-value .number-label {
	font-size: var(--regular-size);
}
/* *** */
/* END OF<Counter> */
/* *** */

/* *** */
/* <Buttons> */
/* *** */
.buttons-wrapper {
	display: flex;
	justify-content: center;
	background-color: var(--dark-color);
}

.buttons-wrapper button {
	font-size: var(--regular-size);
	background-color: var(--dark-color);
	color: white;
	border: none;
	width: 6em;
	text-align: left;
}
.buttons-wrapper button:hover {
	color: red;
}
/* *** */
/* END OF<Buttons> */
/* *** */
