:root {
	--dark-color: rgb(4, 0, 43);
	--lighter-color: rgb(4, 0, 43, 0.5);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

.header-section {
	color: white;
	background-color: var(--dark-color);
	font-size: x-large;
}
.header-section h1,
h3 {
	padding: 0.5em;
}

.counter-section {
	width: 100%;
}

.counter-section h3 {
	background-color: var(--dark-color);
	color: white;
}

.time-values-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.time-value {
	text-transform: uppercase;
	/* background-color: aqua; */
	flex-basis: 150px;
	margin: 0px 20px 0px 20px;
	color: var(--dark-color);
	font-weight: 700;
	font-size: clamp(10px, 0.5vw * 20, 100px);
	display: flex;
	flex-direction: column;
}

.time-value p {
	color: white;
	background-color: var(--dark-color);
}

.big-number {
	text-align: left;
}

.time-value .number-label {
	font-size: clamp(10px, 0.5vw * 10, 25px);
}

.buttons-wrapper {
	display: flex;
	justify-content: center;
	/* padding-top: 10em; */
	background-color: var(--dark-color);
}

.buttons-wrapper button {
	font-size: 2em;
	background-color: var(--dark-color);
	color: white;
	border: none;
	width: 6em;
	text-align: left;
}
.buttons-wrapper button:hover {
	color: red;
}
